.Card{
  &-box{
    background: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3);
    width: 280px;
    min-width: 280px;
    cursor: pointer;
    img{
      align-self: center;
      width: 240px;
    }
    &-infos{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid rgba(0,0,0,.3);
      h1{
        margin: 0;
        color: #808080;
        font-weight: 300;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        display: flex;
        img{
          width: 30px;
          height: 30px;
        }
        h3{
          margin: 0;
          color: #c0c0c0;
        }
      }
    }
  }
}