.Home {
  &-header {
    display: flex;
    justify-content: center;
    height: 450px;
    background: url(../../../imagens/background.jpg) no-repeat center 0px;
    .LogoStarWars {
      align-self: center;
      img {
        width: 600px;
        @media screen and (max-width: 480px) {
          width: 300px;
        }
      }
    }
  }
  &-body{
    &-title{
      text-align: center;
    }
  }
}
