$hover-color:rgb(255, 0, 0);
.NextAndPrevious{
  .Button{
    outline: 0;
    border: 1px solid #d9d9d9;
    background-color: #000;
    border-radius: 4px;
    font-family: Arial;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    transition: color .3s ease;
    margin-right: 15px;
    &:hover{
      border-color:$hover-color ;
      color: $hover-color;
    }
    &.disable{
      border-color: #d9d9d9;
      color: rgba(255, 255, 255, 0.25);
      cursor: not-allowed;
    }
  }
}