.People,.Planet{
  background: #ededed;
  height: 100vh;
  &-grid{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .NextAndPrevious{ 
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    .Button{
      font-size: 20px;
      min-width: 100px;
    }
  }
}