$font-color: rgb(255, 255, 255);
.Navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  background: url(../../../imagens/background.jpg) no-repeat top center;
  justify-content: space-around;
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    &-item {
      margin-left: 10px;
      list-style: none;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
      }
      a:hover {
        color: $font-color;
        border-bottom: 2px solid $font-color;
      }
    }
  }
  .LogoStarWars{
    img{
      width: 120px;
      display: block;
    }
  }
  + * {
    padding-top: 72px;
  }
}